@tailwind base;
@tailwind components;
@tailwind utilities;


  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img,a {
    margin: auto;
  }